.events-frame {
    float:left;

}

.events-header {
	text-align: center;
	font-size: 25px;
	background-color: #ffffff;
	margin-left: 25%;
	width: 400px;
}

.events-third-header {
	text-align: left;
	font-size:15px;
	background-color: #ffffff;
	width:500px;
	margin-left: 30px;
	margin-bottom: 0px;
}


.events-dropdown {
	width:150px;
	position: absolute;
}


.events-btn-block {
	width:150px;
	height: 34px;
	padding: 0px 16px 0px 16px;
	text-align: center;
	margin: auto;
}

.events-organize-btn {
	height:17px;
	font-size: 14px;
	padding: 0 0 0 0;
	float:right;
}

.events-header {
	height:60px;
	margin-bottom: 0px;
	margin-left: 5%;
}

.events-second-header {
	height:34px;
}

.events-third-header {
	height:20px;
	width:750px;
}

.events-summary-whole {
    width:auto;
    height:auto;
    margin: 50px;

}

.events-summary {
	margin-right: 10px;
	display: inline-block;
	width:322px;

}


.events-dl-horizontal {
    text-align: center;
}

.events-dl-horizontal > a {
    margin-right:0px;
    margin-left:0px;
    display: inline-block;
    width: 30px;
}
