<div class="nav-frame">
    <div id="miniprofile-frame">

    </div>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="{{ url_for('home') }}">home</a></li>
        <li><a href="#">friends</a></li>
        <li><a href="{{ url_for('events_list') }}">events</a></li>
        <li><a href="#">messages</a></li>
        <li><a href="#">myPage</a></li>
    </ul>
    <ul class="nav nav-pills">
        <li><a href="#">privacy|</a></li>
        <li><a href="#">terms|</a></li>
        <li><a href="#">contact us</a></li>
    </ul>

</div>