{% extends "layout.html" %}

{% block contents %}

<div class="events-frame">
    <!-- event page header start -->
    <div class="events-header">
        <ol class="breadcrumb events-header">
            <li><a href="#">Find New Event</a></li>
            <li><a href="#">my Event</a></li>
        </ol>
    </div>
    <!-- event page header end -->

    <!-- event page search start -->
    <div class="events-second-header">
        <div class="dropdown events-dropdown" style="margin-left:150px;">
            <select class="form-control">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Theme</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Study</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Travel</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Dining</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Chilling</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Etc</option></a></li>
                    <li role="presentation" class="divider"><option></option></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>None</option></a></li>
                </ul>
            </select>
        </div>
        <div class="dropdown events-dropdown" style="margin-left:300px;">
            <select class="form-control">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Where</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Hongdae</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Mapo</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Jongro</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Seoul City Hall</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Etc</option></a></li>
                    <li role="presentation" class="divider"><option></option></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>None</option></a></li>
                </ul>
            </select>
        </div>
        <div class="dropdown events-dropdown" style="margin-left:450px;">
            <select class="form-control">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Univ.</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Ajou</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Korea</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Dankuk</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Hongik</option></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Etc</option></a></li>
                    <li role="presentation" class="divider"><option></option></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>None</option></a></li>
                </ul>
            </select>
        </div>
        <button type="button" class="btn btn-default btn-lg btn-block dropdown events-dropdown events-btn-block" style="margin-left:600px;">Search</button>
    </div>
    <!-- event page search end -->

    <!-- recent, popularity, new event start -->
    <div class="events-third-header">
        <ol class="breadcrumb events-header recent-align events-third-header"">
        <li><a href="#">Recent</a></li>
        <li><a href="#">Popularity</a></li>
        <button type="button" class="btn btn-default btn-lg active organize-btn events-organize-btn">
            <a href="{{ url_for('events_create') }}">Organize New Event</a>
        </button>
        </ol>
        <!-- recent, popularity, new event end -->
    </div>
    <!-- event summary showing start -->
    <div class="events-summary-whole">
        <div class="events-summary">
            <div class="caption">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail events-thumbnail" style="width:322px; height:202px; margin-botton:0px;">
                            <img data-src="holder.js/100%x180" alt="..." src="{{ url_for('static', filename='img/keira.jpg') }}" style="margin-left:0px; margin-right:0px;">
                            <div class="caption" style="height:118px; width:321px; padding-left:0px;">
                                <h3 style="margin-top:0px;"><a href="#">Party on this Friday !</a></h3>
                                <dl class="dl-horizontal events-dl-horizontal">
                                    <dt>Theme</dt>
                                    <dd>Party</dd>
                                    <dt>Host</dt>
                                    <dd>Jaeeun Kim</dd>
                                    <dt>When</dt>
                                    <dd>2014/08/15 FRI 7pm</dd>
                                    <dt>Where</dt>
                                    <dd>Ajou Univ</dd>
                                    <dt>Where</dt>
                                    <dd>Suwon PlanB</dd>
                                    <dt>Cost</dt>
                                    <dd>10,000 won</dd>
                                    <dt>Contact</dt>
                                    <dd>123-456-7890</dd>
                                    <a href="#"><img src="{{ url_for('static', filename='img/likebutton.png') }}">5</a>
                                    <a href="#"><img src="{{ url_for('static', filename='img/attendbutton.png') }}">3/5</a>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="events-summary-whole">
        <div class="events-summary">
            <div class="caption">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail events-thumbnail" style="width:322px; height:202px; margin-botton:0px;">
                            <img data-src="holder.js/100%x180" alt="..." src="{{ url_for('static', filename='img/keira.jpg') }}" style="margin-left:0px; margin-right:0px;">
                            <div class="caption" style="height:118px; width:321px; padding-left:0px;">
                                <h3 style="margin-top:0px;"><a href="#">Party on this Friday !</a></h3>
                                <dl class="dl-horizontal events-dl-horizontal">
                                    <dt>Theme</dt>
                                    <dd>Party</dd>
                                    <dt>Host</dt>
                                    <dd>Jaeeun Kim</dd>
                                    <dt>When</dt>
                                    <dd>2014/08/15 FRI 7pm</dd>
                                    <dt>Where</dt>
                                    <dd>Ajou Univ</dd>
                                    <dt>Where</dt>
                                    <dd>Suwon PlanB</dd>
                                    <dt>Cost</dt>
                                    <dd>10,000 won</dd>
                                    <dt>Contact</dt>
                                    <dd>123-456-7890</dd>
                                    <a href="#"><img src="{{ url_for('static', filename='img/likebutton.png') }}">5</a>
                                    <a href="#"><img src="{{ url_for('static', filename='img/attendbutton.png') }}">3/5</a>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- event summary showing end -->
</div>
{% endblock %}