{% extends "layout.html" %}

{% block contents %}

	<link rel="stylesheet" type="text/css" href="events.css">

	<!-- event page header start -->
	<div class="header">
		<ol class="breadcrumb">
			<li><a href="#">Find New Event</a></li>
			<li><a href="#">my Event</a></li>
		</ol>
	</div>
	<!-- event page header end -->

	<!-- event page search start -->
	<div class="second-header">
		<div class="dropdown" style="margin-right: 615px; margin-left: 450px;">
			<select class="form-control">
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Theme</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Study</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Travel</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Dining</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Chilling</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Etc</option></a></li>
					<li role="presentation" class="divider"><option></option></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>None</option></a></li>
				</ul>
			</select>
		</div>
		<div class="dropdown" style="margin-right: 615px; margin-left: 615px;">
			<select class="form-control">
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Where</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Hongdae</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Mapo</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Jongro</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Seoul City Hall</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Etc</option></a></li>
					<li role="presentation" class="divider"><option></option></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>None</option></a></li>
				</ul>
			</select>
		</div>
		<div class="dropdown" style="margin-right: 450px; margin-left: 780px;">
			<select class="form-control">
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Univ.</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Ajou</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Korea</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Dankuk</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Hongik</option></a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>Etc</option></a></li>
					<li role="presentation" class="divider"><option></option></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><option>None</option></a></li>
				</ul>
			</select>
		</div>
		<button type="button" class="btn btn-default btn-lg btn-block dropdown" style="right:250px;">Search</button>
	</div>
	<!-- event page search end -->

	<!-- recent, popularity, new event start -->
	<div class="third-header">
		<ol class="breadcrumb recent-align" style="width:1300px;">
			<li><a href="#">Recent</a></li>
			<li style="margin-right:1000px;"><a href="#">Popularity</a></li>
			<button type="button" class="btn btn-default btn-lg active organize-btn">
                <a href="{{ url_for('events_create') }}">Organize New Event</a>
            </button>
		</ol>
		<!-- recent, popularity, new event end -->
	</div>
	<!-- event summary showing start -->
	<div class="event-summary-whole">
		<div class="event-summary">
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail" style="width:322px; height:202px; margin-botton:0px;">
						<img data-src="holder.js/100%x180" alt="..." src="img/keira.jpg" style="margin-left:0px; margin-right:0px;">
						<div class="caption" style="height:118px; width:321px; padding-left:0px;">
							<h3 style="margin-top:0px;"><a href="#">Party on this Friday !</a></h3>
							<ul class="list-group">
								<li class="list-group-item">Party</li>
								<li class="list-group-item">Host: Jaeeun Kim</li>
								<li class="list-group-item">2014/08/15 FRI</li>
								<li class="list-group-item">Ajou Univ</li>
								<li class="list-group-item">Suwon
									<img src="img/likebutton.png" style="width:30px; margin-left:110px;">5
									<img src="img/attendbutton.png" style="width:25px; margin-left:20px;">1/5</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="event-summary">
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail" style="width:322px; height:202px; margin-botton:0px;">
							<img data-src="holder.js/100%x180" alt="..." src="img/keira.jpg" style="margin-left:0px; margin-right:0px;">
							<div class="caption" style="height:118px; width:321px; padding-left:0px;">
								<h3 style="margin-top:0px;"><a href="#">Party on this Friday !</a></h3>
								<ul class="list-group">
									<li class="list-group-item">Party</li>
									<li class="list-group-item">Host: Jaeeun Kim</li>
									<li class="list-group-item">2014/08/15 FRI</li>
									<li class="list-group-item">Ajou Univ</li>
									<li class="list-group-item">Suwon
										<img src="img/likebutton.png" style="width:30px; margin-left:110px;">5
										<img src="img/attendbutton.png" style="width:25px; margin-left:20px;">1/5</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- event summary showing end -->

{% endblock %}